Repository FluxML/Flux.jl, pull requests merged in 2022-11, with the labels that each got.

#2082 Add explicit `train!`, unify `update!`, and auto-translate the two `Adam`s
  NEWS.md
  Project.toml
  docs/make.jl
  docs/src/models/overview.md
  src/Flux.jl
  src/deprecations.jl
  src/optimise/train.jl
  src/train.jl
  test/runtests.jl
  test/train.jl
Labels: optimisers-dot-jl

#2016 A new linear regression tutorial
  docs/Project.toml
  docs/make.jl
  docs/src/gpu.md
  docs/src/index.md
  docs/src/models/activation.md
  docs/src/models/advanced.md
  docs/src/models/functors.md
  docs/src/training/optimisers.md
  docs/src/training/training.md
  docs/src/tutorials/linear_regression.md
  src/losses/functions.jl
Labels: documentation

#2126 Remove Flux.Data module
  src/Flux.jl
  src/data/Data.jl
  src/deprecations.jl
Labels: run downstream test

#2125 Move 5 tutorials from fluxml.github.io
  docs/make.jl
  docs/src/assets/2021-10-08-dcgan-mnist/cat_gan.png
  docs/src/assets/2021-10-08-dcgan-mnist/output.gif
  docs/src/tutorials/2020-09-15-deep-learning-flux.md
  docs/src/tutorials/2021-01-26-mlp.md
  docs/src/tutorials/2021-02-07-convnet.md
  docs/src/tutorials/2021-10-08-dcgan-mnist.md
  docs/src/tutorials/2021-10-14-vanilla-gan.md
  docs/src/tutorials/linear_regression.md
Labels: documentation

#2110 Remove `train!` from quickstart example
  README.md
  docs/src/assets/quickstart/loss.png
  docs/src/assets/quickstart/oneminute.png
  docs/src/models/quickstart.md
Labels: documentation

#2112 Re-organise "built-in layers" section
  docs/src/models/basics.md
  docs/src/models/layers.md
  docs/src/utilities.md
  src/layers/basic.jl
Labels: documentation
