Repository FluxML/Flux.jl, pull requests merged in 2022-02, with the labels that each got.

#1861 Speed up `onehotbatch`
  src/onehot.jl
  test/onehot.jl
Labels: performance

#1837 Use faster activation functions
  src/layers/basic.jl
  src/layers/conv.jl
  src/layers/recurrent.jl
Labels: performance, RNN

#1869 Add OperatorLearning.jl to Flux downstream tests
  .github/workflows/Downstream.yml
Labels: run downstream test

#1886 Make RNN layers accept `in => out`
  docs/src/models/recurrence.md
  src/deprecations.jl
  src/layers/recurrent.jl
  test/layers/recurrent.jl
Labels: RNN

#1863 Replace `@adjoint` with `rrule`
  Project.toml
  src/Flux.jl
  src/cuda/cuda.jl
  src/cuda/cudnn.jl
  src/deprecations.jl
  src/functor.jl
  src/layers/conv.jl
  src/layers/normalise.jl
  src/layers/recurrent.jl
  src/losses/Losses.jl
  src/losses/ctc.jl
  src/losses/utils.jl
  src/onehot.jl
  src/utils.jl
Labels: gradients
