Repository FluxML/Flux.jl, pull requests merged in 2022-09, with the labels that each got.

#2058 `unthunk` in some rules
  src/cuda/cudnn.jl
  src/functor.jl
  src/layers/recurrent.jl
Labels: gradients

#2023 Use muladd for LSTM cell matmuls
  src/layers/recurrent.jl
Labels: performance, RNN

#2041 Add ability to filter `loadmodel!` recursion
  src/loading.jl
  test/utils.jl
Labels: enhancement

#2056 Documentation headings & sections
  docs/Project.toml
  docs/make.jl
  docs/src/community.md
  docs/src/data/onehot.md
  docs/src/datasets.md
  docs/src/ecosystem.md
  docs/src/index.md
  docs/src/models/activation.md
  docs/src/models/advanced.md
  docs/src/models/layers.md
  docs/src/models/losses.md
  docs/src/models/nnlib.md
  docs/src/outputsize.md
  docs/src/training/callbacks.md
  docs/src/training/zygote.md
  docs/src/utilities.md
Labels: documentation
