Repository FluxML/Flux.jl, pull requests merged in 2022-05, with the labels that each got.

#1916 Add a ton of doctests + fix outdated documentation in `.md` files
  .github/workflows/ci.yml
  docs/Project.toml
  docs/make.jl
  docs/src/gpu.md
  docs/src/models/overview.md
  docs/src/models/recurrence.md
  docs/src/models/regularisation.md
  docs/src/saving.md
  docs/src/training/training.md
Labels: documentation

#1963 AdaBelief bias correction
  Project.toml
  src/optimise/optimisers.jl
Labels: run downstream test

#1923 Unify `ecosystem.md`
  docs/src/ecosystem.md
Labels: documentation

#1976 Piratical errors for two mistakes
  src/Flux.jl
Labels: discussion
