Repository FluxML/Flux.jl, pull requests merged in 2022-03, with the labels that each got.

#1888 Speeding up onehotbatch by creating OneHotArray directly
  src/onehot.jl
  test/onehot.jl
Labels: performance

#1881 Extending `Diagonal`
  src/layers/basic.jl
  test/layers/basic.jl
Labels: enhancement

#1902 RFC: Restrict `train!` to `AbstractOptimiser`
  .github/workflows/Downstream.yml
  src/deprecations.jl
  src/optimise/optimisers.jl
  src/optimise/train.jl
  test/data.jl
  test/optimise.jl
Labels: run downstream test

#1911 Improvements for LayerNorm
  src/layers/normalise.jl
  src/layers/stateless.jl
Labels: enhancement

#1871 Recurrent benchmarks
  perf/bench_utils.jl
  perf/recurrent.jl
  perf/runbenchmarks.jl
Labels: RNN

#1912 Improve docs for initialisation
  docs/src/utilities.md
  src/functor.jl
  src/utils.jl
  test/utils.jl
Labels: documentation
