Repository FluxML/Flux.jl, pull requests merged in 2022-01, with the labels that each got.

#1825 Update conv.jl
  src/layers/conv.jl
Labels: documentation

#1761 Use view for RNN gate slice extraction
  src/layers/recurrent.jl
  test/layers/recurrent.jl
Labels: performance, RNN

#1831 Remove "Batches" from one hot section header in docs
  docs/src/data/onehot.md
Labels: documentation

#1555 add downstream.yml
  .github/workflows/Downstream.yml
Labels: testing, run downstream test
