Repository FluxML/Flux.jl, pull requests merged in 2023-04, with the labels that each got.

#2021 Add a logistic regression example to the Getting Started section
  .github/workflows/ci.yml
  docs/make.jl
  docs/src/performance.md
  docs/src/tutorials/logistic_regression.md
Labels: documentation

#2031 Add `EmbeddingBag`
  docs/src/models/layers.md
  src/layers/basic.jl
  src/layers/show.jl
  test/layers/basic.jl
Labels: enhancement

#2234 Remove type restrictions for recurrent cells
  src/layers/recurrent.jl
  src/outputsize.jl
Labels: run downstream test

#2139 Remove greek-letter keyword arguments
  src/Flux.jl
  src/deprecations.jl
  src/layers/normalise.jl
  src/losses/Losses.jl
  src/losses/functions.jl
  test/losses.jl
Labels: run downstream test
