Repository FluxML/Flux.jl, pull requests merged in 2023-05, with the labels that each got.

#2249 fix indent in recurrent.jl
  src/layers/recurrent.jl
Labels: documentation

#2245 `gpu(::DataLoader)`, take III
  NEWS.md
  docs/src/gpu.md
  docs/src/models/functors.md
  src/functor.jl
  test/amd/basic.jl
  test/cuda/cuda.jl
Labels: enhancement, documentation, cuda

#2220 Speed-up normalization layers
  src/layers/normalise.jl
Labels: breaking

#2239 add Flux.state(x)
  NEWS.md
  Project.toml
  docs/Project.toml
  docs/make.jl
  docs/src/destructure.md
  docs/src/saving.md
  src/loading.jl
  test/loading.jl
  test/runtests.jl
  test/utils.jl
Labels: documentation, run downstream test
