Repository FluxML/Flux.jl, pull requests merged in 2024-03, with the labels that each got.

#1932 Add a macro to opt-in to fancy printing, and to everything else
  NEWS.md
  docs/src/models/advanced.md
  docs/src/models/basics.md
  src/Flux.jl
  src/functor.jl
  src/layers/attention.jl
  src/layers/basic.jl
  src/layers/conv.jl
  src/layers/macro.jl
  src/layers/normalise.jl
  src/layers/recurrent.jl
  src/layers/show.jl
  test/layers/macro.jl
  test/runtests.jl
  test/utils.jl
Labels: discussion, run downstream test

#2331 Small upgrades to training docs
  docs/src/training/reference.md
  docs/src/training/training.md
Labels: documentation

#2390 doc changes re at-functor and at-layer
  NEWS.md
  Project.toml
  docs/src/models/advanced.md
  docs/src/models/basics.md
  docs/src/models/functors.md
  docs/src/models/layers.md
  docs/src/saving.md
  docs/src/training/optimisers.md
  docs/src/training/training.md
  src/Flux.jl
  src/functor.jl
  src/layers/macro.jl
Labels: documentation

#2403 Fix dead link in docs
  docs/src/training/optimisers.md
Labels: documentation, optimisers-dot-jl

#2392 start testing Enzyme
  Project.toml
  test/ext_enzyme/enzyme.jl
  test/runtests.jl
Labels: gradients

#2387 Restore some support for Tracker.jl
  Project.toml
  src/layers/stateless.jl
  src/utils.jl
  test/runtests.jl
  test/tracker.jl
Labels: gradients
