Repository FluxML/Flux.jl, pull requests merged in 2024-12, with the labels that each got.

#2510 GPU docs
  docs/src/guide/gpu.md
Labels: documentation

#2471 Add more `Duplicated` methods for Enzyme.jl support
  NEWS.md
  Project.toml
  docs/make.jl
  docs/src/reference/training/enzyme.md
  docs/src/reference/training/zygote.md
  ext/FluxEnzymeExt/FluxEnzymeExt.jl
  src/Flux.jl
  src/deprecations.jl
  src/gradient.jl
  src/layers/macro.jl
  src/loading.jl
  src/losses/Losses.jl
  src/train.jl
  test/ext_enzyme/enzyme.jl
  test/runtests.jl
Labels: gradients, breaking, enzyme

#2537 Remove usage of global variables in linear and logistic regression tutorial training functions
  docs/src/tutorials/linear_regression.md
  docs/src/tutorials/logistic_regression.md
  src/gradient.jl
Labels: documentation

#2536 Tweak quickstart.md
  docs/src/guide/models/quickstart.md
Labels: documentation

#2535 Re-write "basics" page of docs
  README.md
  docs/make.jl
  docs/src/assets/zygote-crop.png
  docs/src/guide/models/basics.md
  docs/src/reference/models/layers.md
  docs/src/tutorials/custom_layers.md
Labels: documentation

#2549 Recurrence layer
  .github/workflows/ci.yml
  docs/make.jl
  docs/src/guide/models/basics.md
  docs/src/guide/models/recurrence.md
  docs/src/reference/models/layers.md
  src/Flux.jl
  src/layers/recurrent.jl
  test/layers/recurrent.jl
Labels: RNN

#2551 Change cells' return to `out, state`
  NEWS.md
  Project.toml
  docs/src/guide/models/recurrence.md
  src/layers/recurrent.jl
  test/ext_common/recurrent_gpu_ad.jl
  test/layers/recurrent.jl
Labels: breaking, RNN

#2569 Remove 2 items from public, to fix 1.12
  src/Flux.jl
Labels: regression
