Repository FluxML/Flux.jl, pull requests merged in 2024-11, with the labels that each got.

#2500 RNNs redesign
  NEWS.md
  docs/src/guide/models/recurrence.md
  docs/src/reference/models/layers.md
  perf/recurrent.jl
  src/Flux.jl
  src/deprecations.jl
  src/layers/recurrent.jl
  src/layers/show.jl
  test/ext_amdgpu/runtests.jl
  test/ext_common/recurrent_gpu_ad.jl
  test/ext_cuda/curnn.jl
  test/ext_cuda/layers.jl
  test/ext_cuda/runtests.jl
  test/ext_enzyme/enzyme.jl
  test/ext_metal/runtests.jl
  test/layers/attention.jl
  test/layers/recurrent.jl
  test/test_utils.jl
  test/utils.jl
Labels: breaking, RNN

#2393 Allow `Parallel(+, f)(x, y, z)` to work like broadcasting, and enable `Chain(identity, Parallel(+, f))(x, y, z)`
  src/layers/basic.jl
  test/layers/basic.jl
Labels: run downstream test

#2495 Export Optimisers and remove params and Optimise from tests
  NEWS.md
  docs/src/guide/models/overview.md
  src/Flux.jl
  src/deprecations.jl
  src/layers/conv.jl
  src/layers/show.jl
  src/outputsize.jl
  test/data.jl
  test/ext_cuda/cuda.jl
  test/ext_cuda/layers.jl
  test/layers/basic.jl
  test/layers/conv.jl
  test/layers/normalisation.jl
  test/optimise.jl
  test/outputsize.jl
  test/runtests.jl
  test/test_utils.jl
  test/train.jl
  test/utils.jl
Labels: breaking

#2327 Use `NNlib.bias_act!`
  NEWS.md
  src/layers/basic.jl
  src/layers/conv.jl
  src/layers/normalise.jl
Labels: performance, run downstream test

#2522 Distinct init for kernel and recurrent
  src/layers/recurrent.jl
Labels: RNN
