Repository FluxML/Flux.jl, pull requests merged in 2025-01, with the labels that each got.

#2563 fix test enzyme
  test/Project.toml
  test/ext_enzyme/enzyme.jl
  test/runtests.jl
  test/test_utils.jl
  test/train.jl
Labels: enzyme

#2562 collapse doc string in layers docs
  docs/src/reference/models/layers.md
Labels: documentation

#2557 Adding return state option to recurrent layers
  src/layers/recurrent.jl
  test/layers/recurrent.jl
Labels: RNN

#2574 Update deps & bump to 0.16.1
  Project.toml
  ext/FluxAMDGPUExt/FluxAMDGPUExt.jl
  ext/FluxAMDGPUExt/batchnorm.jl
  test/ext_cuda/cuda.jl
Labels: run downstream test
